* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#canvas1 {
    /*border: 5px solid green;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.78vh; /* 16/9 * 100 = 177.78 */
    height: 100vh;
}

.character, .background, .logo, .akemi, .title, .buttons, .butterflies, .clouds {
    display: none;
}